# name of bucket in backblaze to upload to
bucket=backblazebucket
# number of seconds of motion to trigger an event (this time will be included in the output video)
sensitivity=3
# kernel sensitivity - how much movement is needed to trigger an event; higher means more movement needed. must be an odd number
kernel=17
# directory that videos get written to
monitor_dir=/videos
# directory to upload to backblaze from
upload_dir=/videos/uploads
# length of each segment video, in seconds
segment_length=300


declare -A cameras
# a map of cameras to monitor (one line per camera, with a unique key/ip for each)
# example for an ip camera: rtsp://admin:admin@192.168.1.1:554/video/1
# example for a usb camera: /dev/video1
# test using: ffplay -i {url}
cameras["1"]="rtsp://admin:admin@192.168.1.1:554/video/1"



